<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>EMS Home Page</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" />
    <link  th:href="@{/css/calendar.css}" rel="stylesheet" />
    <script th:src="@{/js/calendar.js}"></script>
</head>
  <body>
      <div class="main-container">
          <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
          <!-- HEADER -->
          <header class="block">
              <ul class="header-menu horizontal-list">
                  <li><a class="header-menu-tab" th:href="@{/index}">Home</a></li>
                  <li><a class="header-menu-tab" th:href="@{/projects}">Projects</a> </li>
                  <li><a class="header-menu-tab" th:href="@{/messages}">Messages</a> </li>
                  <li><a class="header-menu-tab" th:href="@{/team}">Team</a></li>
                  <li sec:authorize="hasAuthority('ADMIN')"><a class="header-menu-tab" th:href="@{/admin}">Admin</a></li>
                  <li><a class="header-menu-tab" href="#">Options</a></li>
                  <li>
                      <form th:action="@{/logout}" class="header-menu-tab" method="post">
                        <input type="submit" value="Sign Out"/>
                      </form>
                  </li>
              </ul>
          </header>
          <div align="center" id="calendar"></div>
          <div align="center">
              <p id="task-description"></p>
          </div>
      </div> <!-- end main-container -->
      <script th:inline="javascript">
          //<![CDATA[
          var tasks = [[${tasks}]];
          $(document).ready(function () {
              for (var i = 0; i < tasks.length; i++) {
                  var fullDate = new Date(tasks[i].deadline);
                  var month = parseInt(fullDate.getMonth()) + 1;
                  var date = fullDate.getFullYear() + "-" + (month < 10 ? "0" + month : month) + "-" + fullDate.getDate();
                  $("td[data-day='" + date + "']").addClass("deadline-day");

              }
              $("td.deadline-day").click(function () {
                  console.log('veikia');
                  for (var i = 0; i < tasks.length; i++) {
                      var fullDate = new Date(tasks[i].deadline);
                      var month = parseInt(fullDate.getMonth()) + 1;
                      var date = fullDate.getFullYear() + "-" + (month < 10 ? "0" + month : month) + "-" + fullDate.getDate();
                      if(date == $(this).data("day")) {
                          $("#task-description").html(tasks[i].description);
                      }

                  }
              });
          });

          //]]>


      </script>
  </body>
</html>
