<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>EMS Projects Page</title>
    <link th:href="@{/css/project.css}" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" />
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
</head>
<body>
<div class="main-container">

    <!-- HEADER -->
    <header class="block">
        <ul class="header-menu horizontal-list">
            <li><a class="header-menu-tab" th:href="@{/index}">Home</a></li>
            <li><a class="header-menu-tab" th:href="@{/projects}">Projects</a> </li>
            <li><a class="header-menu-tab" th:href="@{/messages}">Messages</a> </li>
            <li><a class="header-menu-tab" th:href="@{/team}">Team</a></li>
            <li sec:authorize="hasAuthority('ADMIN')"><a class="header-menu-tab" th:href="@{/admin}">Admin</a></li>
            <li><a class="header-menu-tab" href="#">Options</a></li>
            <li>
                <form th:action="@{/logout}" class="header-menu-tab" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </li>
        </ul>
    </header>
    <div>
        <h2>About the project</h2>
            <p th:text="${'Project name: ' + project.name}"></p>
            <p th:text="${'Project description: ' + project.description}"></p>
            <p th:text="${'Project start date: ' + project.startDate}"></p>
            <p th:text="${'Project end date: ' + (project.endDate != null? project.endDate : 'Undetermined')}"></p>
        <h2>Project's tasks</h2>
        <nav>
            <div th:each="task : ${tasks}" class="menu-item">
                <h4>
                    <a href="#" th:text="${task.description}"></a>
                    <a class="btn btn-warning" th:href = "@{/project-core/{project_id}/remove-task/{task_id} (task_id=${task.id}, project_id=${project.id})}"><span>Remove</span></a>
                </h4>
                <ul>
                    <li th:switch="${subtask.status}" th:each="subtask : ${subtasks}">
                        <a th:case="1" th:if="${subtask.fkTask} == ${task.id}" href="#" th:text="${subtask.description + ' | Status: In progress'}"></a>
                        <a th:case="2" th:if="${subtask.fkTask} == ${task.id}" href="#" th:text="${subtask.description + ' | Status: On hold'}"></a>
                        <a th:case="3" th:if="${subtask.fkTask} == ${task.id}" href="#" th:text="${subtask.description + ' | Status: Finished'}"></a>
                    </li>
                </ul>
            </div>
            <div class="menu-item">
                <h4>
                    <form th:action = "@{/project-core/{id}/add-task (id=${project.id})}" th:object="${newTask}" method="post">
                        <input th:field="*{description}" name="description" type="text" placeholder="New task's description" required="required"/>
                        <input th:field="*{deadline}" name="deadline" type="text" class="datepicker" placeholder="New task's deadline"/>
                        <input type="submit" value="Add task"/>
                    </form>
                </h4>
            </div>
        </nav>
    </div>
</div> <!-- end main-container -->
</body>
</html>