<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>EMS Team Creation</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet" />
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
<div class="main-container">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <!-- HEADER -->
    <header class="block">
        <ul class="header-menu horizontal-list">
            <li><a class="header-menu-tab" th:href="@{/index}">Home</a></li>
            <li><a class="header-menu-tab" th:href="@{/projects}">Projects</a> </li>
            <li><a class="header-menu-tab" th:href="@{/messages}">Messages</a> </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users" aria-hidden="true"></i><span th:text="#{admin.team}"></span><strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                    <li >
                        <a th:href="@{/team}"><i class="fa fa-users" aria-hidden="true"></i><span th:text="#{admin.team}"></span></a>
                    </li>
                    <li class="divider"></li>
                    <li><a th:href="@{/team/new}"><i class="fa fa-plus" aria-hidden="true"></i><span th:text="#{admin.newteam}"></span></a></li>
                </ul>
            </li>
            <li sec:authorize="hasAuthority('ADMIN')"><a class="header-menu-tab" th:href="@{/admin}">Admin</a></li>
            <li><a class="header-menu-tab" href="#">Options</a></li>
            <li>
                <form th:action="@{/logout}" class="header-menu-tab" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </li>
        </ul>
    </header>
    <div align="center">
        <h2>New project's creation</h2>
        <form th:action = "@{/team/new-submit}" th:object="${newTeam}" method="post">
            <p><label	th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label></p>
            <p><input th:field="*{name}" name="name" type="text" placeholder="Team's name" required="required"/></p>
            <p><label	th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></label></p>
            <p><textarea th:field="*{description}" name="description" type="text" placeholder="Team's description" required="required"></textarea></p>
            <p><input type="submit" value="Create"/></p>
        </form>
    </div>
</div> <!-- end main-container -->
</body>
</html>