<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>EMS Admin - Project</title>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet"
          href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row admin">
        <div class="col-md-2">
            <div class="list-group">
                <a th:href="@{/index}" class="list-group-item" th:text="#{admin.home}"></a>
                <a th:href="@{/admin}" class="list-group-item" th:text="#{admin.admin}"></a>
                <a th:href="@{/admin/user}" class="list-group-item" th:text="#{admin.user}"></a>
                <a th:href="@{/admin/role}" class="list-group-item" th:text="#{admin.role}"></a>
                <a th:href="@{/admin/message}" class="list-group-item" th:text="#{admin.message}"></a>
                <a th:href="@{/admin/project}" class="list-group-item" th:text="#{admin.project}"></a>
                <a th:href="@{/admin/task}" class="list-group-item" th:text="#{admin.task}"></a>
                <a th:href="@{/admin/subtask}" class="list-group-item active" th:text="#{admin.subtask}"></a>
            </div>
        </div>
        <div class="col-md-8 left-box">
            <form th:object="${subtaskForm}" th:action="@{/admin/subtask/{id}(id=${subtaskForm.id})}" method="post">
                <label th:text="#{admin.id}"></label>
                <input th:field="*{id}" type="text" class="form-control" readonly="readonly"/>
                <label th:text="#{admin.description}"></label>
                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                <input th:field="*{description}" type="text" class="form-control"/>
                <label th:text="#{admin.status}"></label>
                <p th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></p>
                <input th:field="*{status}" type="text" class="form-control"/>
                <label th:text="#{admin.fkProject}"></label>
                <p th:if="${#fields.hasErrors('fkTask')}" th:errors="*{fkTask}"></p>
                <input th:field="*{fkTask}" type="text" class="form-control"/>
                <input class="btn btn-default" type="submit" th:value="#{button.edit}"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>
