nav {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 13px;
    line-height: 1.5;
    margin: 50px auto;
    width: 200px;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.menu-item {
    background: #fff;
    width: 200px;
}

/*Menu Header Styles*/
.menu-item h4 {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-top: 1px solid rgba(255,255,255,0.2);
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 12px;

    /*Gradient*/
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
    background: linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}

.menu-item h4:hover {
    background: #cc002c; /* Old browsers */
    background: -moz-linear-gradient(top,  #cc002c 0%, #6d0019 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc002c), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cc002c 0%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cc002c 0%,#6d0019 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cc002c 0%,#6d0019 100%); /* IE10+ */
    background: linear-gradient(top,  #cc002c 0%,#6d0019 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc002c', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

}

.menu-item h4 a {
    color: white;
    display: block;
    text-decoration: none;
    width: 200px;
}

/*ul Styles*/
.menu-item ul {
    background: #fff;
    font-size: 13px;
    line-height: 30px;
    height: 0px;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;

    /*Animation*/
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
}


.menu-item:hover ul {
    height: 200px; /*jeigu nustatysi i auto tada nebeveiks animacija, taciau automatiskai parinks tinkama dydi*/

}

.menu-item ul a {
    margin-left: 20px;
    text-decoration: none;
    color: #aaa;
    display: block;
    width: 200px;
}

/*li Styles*/
.menu-item li {
    border-bottom: 1px solid #eee;
}

.menu-item li:hover {
    background: #eee;
}

/*First Item Styles*/
.alpha p {
    padding: 8px 12px;
    color: #aaa;
}

.alpha p a {
    color: #aaa;
    font-style: italic;
}

.alpha p a:hover {
    color: #ccc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1, h2, p, a, span{
    color: #fff;
}

.horizontal-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.horizontal-list li {
    float: left;
}
/** MAIN CONTAINER **/

.main-container {
    font-family: 'Ubuntu', sans-serif;
    width: 1250px;
    margin: 6em auto;
}
body {
    background: #76b852;
    background: -webkit-linear-gradient(right, #9bcb80, #b7daa4);
    background: -moz-linear-gradient(right, #9bcb80, #b7daa4);
    background: -o-linear-gradient(right, #9bcb80, #b7daa4);
    background: linear-gradient(to left, #9bcb80, #b7daa4);
}
/*********************************************** HEADER ***********************************************/
header {
    height: 80px;
}
.header-menu {
    font-size: 20px;
    line-height: 80px;
    font-family: "Roboto", sans-serif;
}
.header-menu-tab {
    text-decoration: none;
    padding: 0 45px;
    display: block;
    line-height: 74px;
    font-size: 20px;
    /**border-radius: 10px;**/
    height: 80px;
    -webkit-transition: background .5s;
    transition: background .5s;
    background: #59913b;
    background: -webkit-linear-gradient(#64a343, #7ebc5c);
    background: -moz-linear-gradient( #64a343, #7ebc5c);
    background: -o-linear-gradient(#64a343, #7ebc5c);
    background: linear-gradient(#64a343, #7ebc5c);
}
.header-menu-tab:hover {
    /**border-radius: 10px;**/
    background:#64a343;
    text-decoration: none;
}
.header-menu-tab:active {
    /**border-radius: 10px;**/
    background:#64a500;
    text-decoration: none;
}
/** CONTAINERS **/
.block {
    margin-bottom: 25px;
    /**background: #59913b;
     background: -webkit-linear-gradient(#64a343, #7ebc5c);
     background: -moz-linear-gradient( #64a343, #7ebc5c);
     background: -o-linear-gradient(#64a343, #7ebc5c);
     background: linear-gradient(#64a343, #7ebc5c);
       border-radius: 10px;**/
}
